
@import "../../variables";

.favoritesBox{
    &__title{
        @include title;
    }
    &__box {
        display: flex;
        max-width: 1200px;
        width: 100%;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
      }
}


@media only screen and (max-width: 1318px) {
    .favoritesBox{
    
        &__box {
            max-width: 750px;
            min-width: 750px;     
          }
}

@media only screen and (max-width: 786px) {
}
.favoritesBox{

    &__box {
        max-width: 350px;
        min-width: 350px;     

      }
    }
}