@import "../../variables";

.adminPage{
    display: flex;
    flex-direction: column;
  //  max-width: 700px;
    align-content: center;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;

&__box{
    display: flex;
    flex-direction: row;
  //  max-width: 700px;
    align-content: flex-start;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
 
}