@import "../../variables";
.buttonContrast{
    display: flex;
    border: 1px solid #E7426A;
    background-color: #E7426A;
    border-radius: 3px;
    font-weight: 600;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    color: white;
    font-weight: 600;
    &__img{
max-width: 20px;
width: 100%;
    }
    &__name{
        margin-left: 10px;
@extend %text14-17;
font-weight: 600;
    }
}