@import "../../variables";

.reviews {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    &__title{
        @extend %title30-36;
        font-weight: 600;
        text-align: center;
    }
}