@import "../../variables";

.reviews {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    &__box{
        max-width: 980px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    }
    &__boxMap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    }
    &__title{
        @extend %title30-36;
        font-weight: 600;
        text-align: center;
    }
    &__text{
        @extend %text16-19 ;
        font-weight: 600;
        color: $accent;
        text-align: center;
    }
}


@media only screen and (max-width: 1318px) {
    .reviews {
      
        &__box{
            max-width: 750px;
     
        }
    }
}

@media only screen and (max-width: 786px) {
    .reviews {
      
        &__box{
            max-width: 320px;
     
        }
    }
}