@import "../../variables";

.reviews {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    &__box{
        max-width: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    }
    &__title{
        @extend %title30-36;
        font-weight: 600;
        text-align: center;
    }
}


@media only screen and (max-width: 1318px) {

}

@media only screen and (max-width: 786px) {
}