@import "../../variables";
.PageUsersOrders {
display: flex;
justify-content: center;
margin-bottom: 20px;
  &__box {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 18px;
    align-items: center;

  }
  &__title {
    @include title;
  }

&__userStory{
  max-width: 600px;
  width: 100%;
}
&__textArea{
  max-width: 600px;
  width: 100%;

}
}

.PageUsersOrders__hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}
