@import "../../variables";
.banner {
  font-family: $hint-font;
  margin: 20px auto;
  background: linear-gradient(#f7ebe5, 50%, $white);
  border-radius: 30px;
  display: flex;
  //width: 80%;
  max-width: 1000px;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: $box-shadow2;

  &__img {
    width: 400px;
    border-radius: 400px;
    padding: 40px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;

  }
  &__img2 {
    width: 420px;
    // height: 100%;
    border-radius: 400px;
    padding: 40px;
    filter: blur(10px);
  }
  &__name {
    font-family: $hint-font;
    font-size: 22px;
    font-weight: 600;
    line-height: 26.82px;
    text-align: center;
    margin: 0;

  }
  &__subName {
    font-family: $hint-font;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;
  }
  &__about {
    font-family: $hint-font;
    font-size: 42px;
    font-weight: 600;
    line-height: 51.2px;
    text-align: center;
  }
  &__box {
    padding: 40px;
    max-width: 470px;
    width: 100%;
  }
  &__text {
    font-family: $hint-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 1318px) {
  .banner {
    flex-direction: column;
   max-width: 700px;
  &__img {
    width: 300px;
    top: 5px;
  left: 165px;

  }
  &__img2 {
    width: 320px;

  }
  }
}

@media only screen and (max-width: 786px) {
  .banner {
    flex-direction: column;
    max-width: 350px;
  min-width: 350px;
    width: 100%;
    padding: 20px;
    &__img {
      width: 200px;
      border-radius: 200px;
      top: 0px;
    left: 45px;
    }
    &__img2 {
      width: 220px;
      // height: 100%;
      border-radius: 200px;
      padding: 20px;
      filter: blur(10px);
    }
    &__box {
      padding: 20px;
 
    }
  }

}

