@import "../../variables";

.auth {
    // align-items: stretch;
    //background-repeat: no-repeat;
    //  background-attachment: fixed;
    //background-image: url("./../../assets/Frame2.svg");
  
  
    // background-position: center;
    background-color: $light-grey;
  
  
  
    &__content {
      display: flex;
      flex-direction: column;
      max-width: 420px;
      width: 100%;
      margin-top: 20px;
      //  margin: 60px auto 0px auto;
      border-radius: 40px;
      padding: 60px;
      background-color: #F7EBE5;
      z-index: 30000;
      position: relative;
  
    }
  
    &__contentText {
      margin-bottom: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;
    }
  
    &__title {
      @extend %title24-29;
      color: #DEB887	;
      align-items: center;
    }
  
 
  
    &__images {
  
      display: flex;
      width: 100%;
      max-width: 375px;
      padding-bottom: 182px;
      flex-direction: column;
      align-items: center;
      gap: 114px;
      margin: 0px auto;
      z-index: 30000;
      position: relative;
    }
}