@import "../../variables";

.newProductsBox{
    display: flex;
    margin: 85px auto 85px auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__title{
       @extend %title30-36;
       margin: 0 0 42px 0;
    }
    &__cover{
        display: flex;
        max-width: 1200px;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    &__button{
        margin: 0 0 0 0;
    }

    &__text{
      @extend  %text14-17;
      text-align: center;
    }
}

@media only screen and (max-width: 1318px) {
    .newProductsBox{
     &__cover{
        width: 100%;
        flex-wrap: wrap
     }

    }
 }
 
 @media only screen and (max-width: 786px) {
 
 }