@import "../../variables";

.cart {
  @extend %text14-17;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 50px auto ;
  align-items: center;
  &__cover {
    display: flex;
    min-width: 1200px;
    width: 100%;
    justify-content: center;
  }
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__title {
    @extend %title30-36;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (max-width: 1318px) {

  .cart{
    &__cover{
      display: flex;
      min-width: 700px;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }

}

@media only screen and (max-width: 786px) {
}