@import "../../variables";


.addGoods{
    display: flex;
    flex-direction: column;

    &__title{
        color: $black;

    }
    &__form{
        display: flex;
        flex-direction: column;

    }
}