.reviewBox {
  width: 100%;
  border-radius: 5px;
  margin: 10px 20px 0 20px;
max-width: 960px;
  &__box {
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    flex-direction: row;
    width: 100%;
    padding: 30px 20px ;
    align-items: center;
  }
  &__img {
    width: 50px;
  }
  &__name{
    padding: 0 50px;
    position: relative;
  }
  &__content{
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    border: 0;
    background-color: inherit;
    &:hover{
      border: 0;
    } 
    &:active{
      border: 0;
    }
    &:focus { outline: none !important; }
  
  }
}
