@import "../../variables";
.orderTable {
  &__box {
    display: flex;
   // margin-top: 20px;
    flex-direction: column;
  }
  &__title {
    @include title;
  }
  &__orderBox {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }
}
