@import "../../variables";
.orderTable {
  &__box {
    display: flex;
   // margin-top: 20px;
    flex-direction: column;
  }
  &__title {
    @include title;
  }
  &__orderBox {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }
}

@media only screen and (max-width: 1318px) {
  .orderTable {
font-weight: 14px;
    &__orderBox {
      font-size: 14px;
      max-width: 750px;
   
    }
  }
}

@media only screen and (max-width: 786px) {
  .orderTable {

    &__orderBox {
      font-size: 14px;
      max-width: 350px;
   
    }
  }
}