@import "../../variables";
.link {
  text-decoration: none;
}

.LinkCustom {
  text-decoration: none;
  font-family: $hint-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #000000c9;
  background-color:initial;
  padding: 0 10px;
  text-align: center;
  &:hover {
    text-decoration: none !important;
    color: #008b8b;
  }
}


@media only screen and (max-width: 1318px) {

}

@media only screen and (max-width: 786px) {
}