@import "../../variables";

.newsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  
  &__box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin-top: 50px
  }
  &__title{
    @extend %title30-36;
    font-weight: 600;
    text-align: center;
  }
}
