@import "../../variables";

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 85px auto 0 auto;

 &__box{
    display: flex;
    margin-bottom: 30px
 }
 &__title{
   @extend %title30-36;
   margin-bottom: 40;
 }
}

@media only screen and (max-width: 1318px) {
   .news{
    max-width: 785px;
    width: 100%;
   }
}

@media only screen and (max-width: 786px) {
   .news{
      max-width: 785px;
      width: 100%;
      flex-direction: column;
      &__box{
         flex-direction: column;

      }
     }
}