@import "../../variables";

.newsCard {
    display: flex;
    max-width: 370px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: stretch;
    margin: 0 15px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 35px;
    padding-top: 35px;
    position: relative;

  &__image {
    max-width: 300px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    border-radius: 5px 5px 0px 0px;
    border: 1px 1px 0px 1px;
    opacity: 0px;
  }
  &__date {
    @extend %text14-17;
    color: $grey;
  }
  &__title {
    @extend %text18-21;
    margin: 0;
  }
  &__title {
    @extend %text18-21;
  }
  &__text {
    @extend %text14-17;
    margin-bottom: 0;
  }
}
