.logo{
  width: 124px;
  height: 124px;
  border-radius: 124px;
  top: 66px;
  left: 658px;
  gap: 0;
  //opacity: 0;

}

@media only screen and (max-width: 1318px) {

}

@media only screen and (max-width: 786px) {
}