@import "../../variables";
.userPage {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  margin-bottom: 50px;

  &__userBox {
    margin-left: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    margin-bottom: 1em;
    margin-top: 20px;
  }
  &__top {
    display: flex;
    margin-bottom: 50px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
  }
  &__bottom {
    display: flex;
    justify-content: space-evenly;
  }
  &__title {
    @extend %title30-36;
    font-weight: 600;
    text-align: center;
  }
  &__menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    
  }
  &__margin{
margin-top: 30px;
  }
}
