@import "./variables";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: $light-grey;

}




@media only screen and (max-width: 1318px) {

}

@media only screen and (max-width: 786px) {
}