$stock-font: 'Vollkorn';
$hint-font: 'Montserrat';
$primary-100: #6A8323;
$primary-120: #5E741F;
$primary-140: #55691C;
$primary-dark-100: #323232;
$primary-dark-120: #000000;
$accent-100: #FC4C0E;
$accent-120: #E14610;
$accent-140: #BB3A0C;
$accent-30-opacity: rgb(252, 76, 0, 0.30); //#FC4C0E
$accent-15-opacity: rgb(252, 76, 0, 0.15); //#FC4C0E
$accent-8-opacity: rgb(252, 76, 0, 0.08); //#FC4C0E
$white: #FFFFFF;
$sand-80: #655D45;
$sand-80-opacity: rgb(101, 93, 69, 0.2); //#655D45;
$sand-60: #726A54;
$sand-40: #A49B82;
$sand-30: #F2E4B8;
$sand-20: #F9ECC5;
$sand-10: #FCF1D5;
$sand-colorful-100: #8B590D;
$sand-colorful-80: #AF9F74;
$sand-colorful-30: #EFD9A0;
$sand-colorful-20: #FFEEC1;
$sand-colorful-10: #FFF6DE;
$accent-15-fill: #FFE4DB;
$error: #EA3E27;
$warning: #F6990C;
$success: #53902D;
$shadow-1: 0px 8px 32px 0px #56340052;
$shadow-2: 0px 4px 16px 0px #56340014;
$shadowCard:  0px 4px 16px 0px rgba(86, 52, 0, 0.08);
$ShadowPopup:  0px 8px 32px 0px rgba(86, 52, 0, 0.20);
$Primary-40-past-though: rgb(106, 131, 35, 0.4); //#6A8323
$Primary-20-past-though: rgb(106, 131, 35, 0.2); //#6A8323
$Primary-10-past-though: rgb(106, 131, 35, 0.1); //#6A8323
$Primary-8-past-though: rgb(106, 131, 35, 0.08); //#6A8323
$buttonColor: #FFDCBF;


%buttonBasicM {
  font-family: $hint-font;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 24px;
  text-align: center;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

%catalog {
  display: grid;
  grid-template-columns: repeat(3, 352px);
  gap: 60px 32px;
  justify-content: center;
}

%image {
  background-repeat: no-repeat;
  background-position: center;
  border: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

%imageBackgroundPepper {
  position: absolute;
  background-position: center;
  width: 307.59px;
  height: 387.81px;
  z-index: 0;
  background-size: cover;

  &:hover {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
  }
}

%imageBackgroundTomato {
  position: absolute;
  z-index: 20;
  width: 562.77px;
  height: 597.29px;
  background-position: center;
  background-size: cover;

  &:hover {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
  }
}

%imageBackgroundGarlic {
  background-position: center;
  position: absolute;
  z-index: 0;
  width: 412.94px;
  height: 438.9px;
  background-size: cover;

  &:hover {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
  }
}

%textSmall13-16Mon {
  //styleName: Desktop/Body small;
  font-family: $hint-font;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
}

%textSmall13-20Mon {
  //styleName: Desktop/Body small;
  font-family: $hint-font;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

%textLarge16Mon {
  //styleName: Desktop/Body large;
  font-family: $hint-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

%subtitle20-24Vol {
  //styleName: Desktop/H4;
  font-family: $stock-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
}

%title24Vol {
  //styleName: Desktop/H3;
  font-family: $stock-font;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

%title28Vol {
  //text-align: center;
  font-family: $stock-font;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
}

%title32Vol {
  //styleName: Desktop/H1;
  font-family: $stock-font;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
}

// mixins
@mixin auth {
  &__box {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &__buttonBox {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__link {
    margin-top: 20px;
    text-align: center;
    font-family: $hint-font;
    color: $sand-80;
    font-size: 13px;
    line-height: 20px;
  }
  @media only screen and (max-width: 1000px) {
    &__box {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}