.layout {
  flex-direction: column;
  display: table;
  height: 100%;
  min-height: calc(100vh - 0px);
  margin: 0 auto;
  width: 100%;

}

.content {
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 90px !important;
  display: flex;
  height: 100%;

}


@media only screen and (max-width: 786px) {
  .layout {
    display: flex;
    height: 100%;
    min-height: calc(100vh - 0px);
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;

  }
  .content {
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 0;
    display: flex;
    /* height: 100%; */
    width: 100%;
    align-items: stretch;
    padding-bottom: 40px !important;
    max-width: 380px;

  }
}

