@import "../../variables";

.notFound{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column
}

@media only screen and (max-width: 1318px) {

}

@media only screen and (max-width: 786px) {
}